API_FOOTBALL_KEY=f52f969eb95e98f44609715f6da8fb24
DB_PASSWORD=qf_secret
DATABASE_URL=postgresql+asyncpg://qf_user:qf_secret@localhost:5432/qf_analyser
DATABASE_URL_SYNC=postgresql+psycopg2://qf_user:qf_secret@localhost:5432/qf_analyser
ENVIRONMENT=development
API_DAILY_LIMIT=7500
CORS_ORIGINS=http://localhost:3000,http://localhost:5173
